@import url("https://fonts.googleapis.com/css?family=Lato|Merriweather");
@import url("./normalize.8.0.1.css");
html {
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}
button {
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgb(225, 167, 9);
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: #e1a709;
}

.button:hover,
button:hover {
  cursor: pointer;
  background-color: rgba(225, 167, 9, 0.35);
  color: white;
}

button.plain-button {
  border: none;
  background: transparent;
  color: #666 !important;
}
button.simple-button {
  border: none;
  background: transparent;
  color: #666 !important;
}

button.simple-button:hover {
  border: none;
  cursor: pointer;
  color: black;
}

button.simple-button-sml,
button.simple-button-lge {
  background-color: rgba(211, 211, 211, 0.2);
  color: #666;
  border: none;
}

button.simple-button-sml {
  min-width: 155px;
}

button.simple-button-lge {
  min-width: 256px;
}

button.simple-button-sml:hover,
button.simple-button-lge:hover {
  background-color: rgba(211, 211, 211, 0.55);
  color: #666;
}

li {
  margin: none !important;
}

ul {
  list-style-type: none;
}

.highlight {
  background-color: #ff9900;
}
