@import url("https://fonts.googleapis.com/css?family=Lato|Merriweather");
@import url("./page.section.css");
@import url("./normalize.8.0.1.css");
html {
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: rgba(16, 24, 32, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

li {
  margin: none !important;
}

ul {
  list-style-type: none;
}

.highlight {
  background-color: #ff9900;
}

button,
.button {
  display: inline-block;
  vertical-align: middle;
  min-height: 3rem;
  padding: 0.8125rem 2rem;
  margin: auto;
  background-color: transparent;
  /* border: 0.0625rem solid; */
  color: #101820;
  letter-spacing: 0.07143em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: none;
  transition: all 0.2s;
}

.button-inverted {
  background-color: transparent;
  color: white !important;
}

button,
.button:hover,
span:hover {
  cursor: pointer;
}

a {
  color: black;
}

a:hover {
  cursor: pointer;
}
