@import url("https://fonts.googleapis.com/css?family=Lato|Merriweather:300");
@import url("./page.section.css");
@import url("./normalize.8.0.1.css");

:root {
  --default-px-font-size: 16px;
  --default-rem-font-size: 1rem;
  --font-scheme-regular: calc(var(--default-rem-font-size) + 0.1rem);
  --font-scheme-small: 75%;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  font-size: var(--default-px-font-size);
  font-size: var(--default-rem-font-size);
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: rgba(16, 24, 32, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #101820;
}

li {
  margin: none !important;
}

ul {
  list-style-type: none;
}

.highlight {
  border: 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #ff00cf26;
}

button,
.button {
  display: inline-block;
  vertical-align: middle;
  padding: 0.8125rem 2rem;
  margin: auto;
  background-color: transparent;
  /* border: 0.0625rem solid; */
  color: #69676b;
  letter-spacing: 0.07143em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: none;
  transition: all 0.2s;
}
.button:hover,
.hamburger-button:hover,
.gift-card-button:hover {
  background-color: #d1d1d1;
}

.button-inverted {
  background-color: transparent;
  color: white !important;
}

button,
.button:hover {
  cursor: pointer;
}

button.form-button {
  margin-right: 10px;
  background-color: #ff00cf26;
}

button.form-button:hover {
  background-color: #e813c1;
  color: white;
}

span.button-link {
  padding: none;
  text-decoration: underline;
  padding: 0 3px;
  color: #69676b;
  font-weight: bolder;
}
a {
  color: #69676b;
}

a:hover {
  cursor: pointer;
}
