.main__header {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.flex_row {
  display: flex;
  flex-flow: row;
}

.flex_col {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.logo {
  width: 100%;
}
